{{ define "main" }}
<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-shadow">
        {{ range .Paginator.Pages.GroupByDate "2006" }}
            <a class="a-block">
                <div class="post-item-wrapper post-item-wrapper-no-hover">
                    <div class="post-item post-item-no-gaps">
                        <div class="post-item-info-wrapper">
                            <div class="post-item-title post-item-title-small year">
                                {{ .Key }}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {{ range .Pages }}
            <a href="{{ .RelPermalink }}" class="a-block">
                <div class="post-item-wrapper">
                    <div class="post-item post-item-no-gaps">
                        <div class="post-item-info-wrapper">
                            <div class="post-item-title">
                                {{.Title}}
                            </div>
                            <div class="post-item-meta">
								{{ printf `<span class="relativetime" datetime="%s" title="%s">%s</span>` (dateFormat "2006-01-02T15:04:05" .Date) (dateFormat "Jan 2, 2006" .Date) (dateFormat "January 2, 2006" .Date) | safeHTML }}
							
                                {{ if .Draft }}
                                <span class="draft-label">DRAFT</span>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {{ end }}
        {{ end }}
    </div>
</div>

{{ end }}